{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <h3>Контакты</h3>
        <p>
            Заказать товар или получить консультацию можно ежедневно с 8:00 до 22:00.
            <br><br>
            Телефоны:
            <br>
            +375 17 3-333-333
            <br>
            +375 29 3-333-333
            <br>
            +375 33 3-333-333
            <br>
            +375 25 5-333-333
            <br><br>
            Онлайн-заказы через корзину принимаются ежедневно и круглосуточно!
            <br>
            Вы получите сообщение о подтверждении заказа на почту. 
            Если же нам нужно будет уточнить у вас какие-либо детали по заказу — вам позвонит наш специалист.
            <br>
        </p>
        <div class="row">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.3700343092596!2d27.506298577278574!3d53.925169572462806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc56c6b46c34f%3A0xb4592a0d073badb1!2z0YPQuy4g0KLQuNC80LjRgNGP0LfQtdCy0LAgNjcsINCc0LjQvdGB0LogMjIwMDM1!5e0!3m2!1sru!2sby!4v1683144540533!5m2!1sru!2sby" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>       
        </div>
    </div>
</div>
{% endblock %}