{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <h3>Контакты</h3>
        <p>
            Заказать товар или получить консультацию можно ежедневно с 8:00 до 22:00.
            <br><br>
            Телефоны:
            <br>
            +375 17 3-333-333
            <br>
            +375 29 3-333-333
            <br>
            +375 33 3-333-333
            <br>
            +375 25 5-333-333
            <br><br>
            Онлайн-заказы через корзину принимаются ежедневно и круглосуточно!
            <br>
            Вы получите сообщение о подтверждении заказа на почту. 
            Если же нам нужно будет уточнить у вас какие-либо детали по заказу — вам позвонит наш специалист.
        </p>
    </div>
</div>
{% endblock %}