{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <h3>Отзывы</h3>
        <p>
            Уважаемые покупатели! Спасибо, что вы воспользовались нашими услугами. Нам важно ваше мнение о нашей работе! Мы благодарны вам как за положительную оценку, так и за конструктивную критику, которую мы учтем для улучшения нашего сервиса. 
            <br>
            Чтобы просто поделиться впечатлениями о нашей работе, нажмите кнопку ниже.
        </p>
        
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary">
                Оставить отзыв
            </button>
        </div>  
             
    </div>           
      
</div>
{% endblock %}