{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="m-3">
        <h3>Отзывы</h3>
        <p>
            Уважаемые покупатели! Спасибо, что вы воспользовались нашими услугами. Нам важно ваше мнение о нашей работе! Мы благодарны вам как за положительную оценку, так и за конструктивную критику, которую мы учтем для улучшения нашего сервиса. 
            <br>
            Чтобы просто поделиться впечатлениями о нашей работе, нажмите кнопку ниже.
        </p>
        
        <div class="col-12 text-center">
            <a href="{% url 'review_create' %}" class="btn btn-primary">Оставить отзыв</a>
        </div>  
        
        
        {% for review in reviews %}
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title">
                    <!--<img src="avatars/3-avatar.png"
                            class="rounded-circle mb-4 mb-lg-0 shadow-2" alt="woman avatar" width="90"
                            height="90">-->
                    {{ user.username }}
                </h5>
                
                <p class="card-text">
                    {{ review.customer_review }}
                    {% if review.admin_answer|length %}
                    <figcaption class="blockquote-footer m-3 font-italic">
                        <em>
                            {{ review.admin_answer }}
                        </em>
                    </figcaption>
                    {% endif %}
                </p>

                <h6 class="card-title text-muted">
                    {{ review.creation_date|date:"d-m-Y" }}
                </h6>
            </div>
        </div>
        {% endfor %}

    </div>  
    
    <div class="container d-flex align-items-end justify-content-center">
        <nav aria-label="...">
            {% if reviews.has_other_pages %}
            <ul class="pagination pagination-md ">
                {% if reviews.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ reviews.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}

                <li class="page-item"><span class="page-link">Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}</span></li>
                
                {% if reviews.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ reviews.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
    
    <p>
        Обращаем ваше внимание, что мы оставляем за собой право не публиковать отзывы:
        <br>
        — относящиеся к теме, по поводу которой уже оставлен отзыв или обращение в любой письменной форме от того же лица;
        <br>
        — без указания телефона, оставленного при заказе (в случаях, когда необходимо подтвердить подлинность отзыва);
        <br>
        — не соответствующие действительности или содержащие данные, подлинность которых невозможно установить;
        <br>
        — оставленные позже, чем через 30 дней после описываемых событий;
        <br>
        — неинформативные;
        <br>
        — критикующие личность, а не действия сотрудников;
        <br>
        — критикующие лиц, не являющихся сотрудниками нашей организации, и сами сторонние организации;
        <br>
        — написанные заглавными буквами или транслитом, со множеством ошибок;
        <br>
        — содержащие оскорбительные, нецензурные и бранные выражения;
        <br>
        — содержащие названия других магазинов и ссылки на другие интернет-ресурсы;
        <br>
        — содержащие в тексте отзыва контактные данные, точные адреса или полные ФИО частных лиц.
        <br><br>
        Любая поступающая информация обрабатывается модератором и используется для улучшения качества наших услуг. Модератор может удалить из текста публикуемого отзыва контактные данные, ФИО и ссылки, исправить форматирование и транслит без предварительного согласования с автором.
        <br><br>
        Срок проверки и публикации отзыва может занять до 7 дней.
    </p>

</div>


{% endblock %}