{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <h3>Доставка</h3>
        <p>
            Мы доставим вашу покупку в любую точку Беларуси.
        </p>

        <h5>Курьером до клиента</h5>
        <p>
            Точную информацию о стоимости товара или заказа в целом можно увидеть в карточке товара и при оформлении заказа.
            Стоимость доставки зависит от состава заказа и расстояния до населенного пункта.
            Подъем на этаж — бесплатно.
        </p>

        <h5>Условия доставки и получения заказов:</h5>
        <ul>
            <li>
                Доставка осуществляется только для товаров, входящих в состав заказа. 
                Транспортировка нескольких товаров с целью выбора одного из них на месте доставки не производится. 
            </li>
            <li>
                Доставка по указанному адресу обязывает покупателя находиться на месте в согласованное накануне время.
            </li>
            <li>
                Доставка производится собственной курьерской службой либо организацией-подрядчиком, определяемой продавцом.
            </li>
            <li>
                Доставка осуществляется до помещения и места, которые укажет покупатель, при условии, что отсутствуют предметы, загромождающие проходы, а расстояние между товаром в упаковке и проемом (дверь, коридор) не менее 5 см.
            </li>
            <li>
                В случае, если условия в указанном покупателем помещении мешают доставке товара или могут вызвать его повреждение, товар доставляется курьером до ближайшего места с подходящими (перечисленными выше) условиями. 
                Курьеры не осуществляют уборку территории от препятствующих предметов и не передвигают объекты в квартире.
            </li>
            <li>
                В обязанности курьеров не входит консультация по эксплуатации и характеристикам товара, его установка и настройка. В случае необходимости, информацию о товаре можно получить на сайте или в колл-центре.
            </li>
            <li>
                Заводская упаковка товара не вскрывается до доставки покупателю.
            </li>
            <li>
                Для вашего удобства наш онлайн-гипермаркет предоставляет возможность проверить товар в течение 3 дней со дня покупки (первым днем считается день покупки).
            </li>
        </ul>

        <p>
            Экспортное ограничение: доставка за пределы Республики Беларусь не осуществляется.
        </p>
    </div>
</div>
{% endblock %}