{% extends 'base.html' %}

{% block content %}
<h1>Content</h1>

{% load mptt_tags %}
<div class="nav-item dropdown dropdown-menu-end">
    <a 
        class="nav-link dropdown-toggle" 
        href="#" 
        id="MyAccountDDM" 
        data-flip="false"
        data-bs-toggle="dropdown" 
        data-bs-auto-close="outside"
        aria-expanded="false">
        Каталог
    </a>        
    
    <ul class="dropdown-menu" aria-labelledby="MyAccountDDM" id="AppDropDownId">
        {% recursetree categories %}
        <li>
            <div class="dropdown">
                <a type="button" class="dropdown-item dropdown-toggle p-0" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">{{ node.name }}</a>
                
                
                {% if not node.is_leaf_node %}
                <ul class="dropdown-menu">
                    <li>
                        <a class="" href="#">{{ children }}</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </li>
        {% endrecursetree %}
    </ul>
    

</div>

{% for product in products %}
<img src="{{ product.main_image.url }}" alt="" style="max-width: 128px; max-height: 128px;">
<p>{{ product.main_image.url }}</p>
<p>{{ product.main_image }}</p>
<p>{{ product.name }}</p>
<p>{{ product.description }}</p>
<p>{{ product.price }}</p>
    {% for image in product.images.all %}
    <img src="{{ image.image.url }}" alt="" style="max-width: 128px; max-height: 128px;">
    <p>{{ image.image.url }}</p>
    {% endfor %}

{% endfor %}

<p>Some line of text</p>

{% endblock %}