{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <h3>Миссия и ценности</h3>
        <p>
            {{ shop_name }} появилась на рынке в 2004 году и стартовала как онлайн-магазин бытовой техники и электроники. 
            Сегодня это крупнейший белорусский онлайн-гипермаркет непродовольственных товаров с огромным выбором товаров для дома, работы и отдыха, а также доставкой в любую точку Республики Беларусь.
        </p>
        
        <h5>Наша миссия</h5>
        <p>
            С 2004 года мы следуем миссии быть лидером, достойным доверия, обеспечивать лучший сервис, задавать высокие стандарты интернет-торговли и прилагать все силы для развития e-commerce сферы в Республике Беларусь.
        </p>

        <h5>Наши ценности</h5>       
        <p>
            1. КЛИЕНТООРИЕНТИРОВАННОСТЬ <br>
            Мы стремимся обеспечить комфорт и удовлетворенность наших клиентов на всех этапах работы с ними. 
            Ваши {{отзывы}} о нас — лучшая благодарность и показатель качественного сервиса.
        </p>
                
        <p>
            2. КОМПЕТЕНТНОСТЬ <br>
            Наши сотрудники компетентны и мотивированы на улучшение качества обслуживания. 
            Мы регулярно повышаем уровень профессионализма коллектива, проводя специальное обучение.
        </p>
        <p>
            3. КАЧЕСТВО <br>
            Вся продукция, представленная в нашем онлайн-гипермаркете, имеет необходимые сертификаты и официальную гарантию сервисных центров. 
        </p>
        <p>
            4. ВЫГОДНЫЕ ПРЕДЛОЖЕНИЯ <br>
            Прямые поставки, отсутствие дорогостоящих торговых залов, автоматизация рабочих процессов позволяют нам обеспечивать привлекательность цен на наши товары.
        </p>
        <p>
            5. ИННОВАЦИИ <br>
            Залог нашего успеха — стремление к совершенству и непрерывное движение вперед с использованием эффективных технологий и инновационных решений.
        </p>
 
    </div>
</div>
{% endblock %}