{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <h3>Оплата</h3>
        <p>
            Мы позаботились о том, чтобы оплата покупки была доступна в той форме, которую предпочитаете лично вы.
            <br><br>
            Независимо от выбранной формы оплаты, расчет производится только в белорусских рублях.
            <br><br>
            Информация и персональные данные, которые мы получаем от Вас (включая, но не ограничиваясь: имя, фамилия, телефон, адрес электронной почты и т. д.) надежно хранятся в нашей базе данных в соответствии с действующим законодательством и не подлежат распространению третьим лицам.
        </p>

        <h5>Наличный расчет</h5>
        <p>
            Вы можете оплатить покупку при доставке, рассчитываясь с курьером наличными деньгами.
        </p>

        <h5>Банковские карты</h5>
        <p>
            Вы можете оплатить покупку банковской картой через терминал при доставке.
        </p>
    </div>
</div>
{% endblock %}