{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="mb-3">
                {{ field.label_tag }}            
                {{ field }}
                <span style="color: red">{{ field.errors }}</span>
                {{ field.help_text }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Отправить отзыв</button>
        </form>
    </div>
</div>
{% endblock %}