{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <h3>Транспортные услуги</h3>
        <p>
            {{ shop_name }} — крупнейший онлайн-гипермаркет в Республике Беларусь. Мы осуществляем грузоперевозки для юридических лиц по РБ, а также РФ. 
            Наша компания постоянно работает над оптимизацией транспортных маршрутов, изучает рынок логистики, а также предоставляет наиболее оптимальные и взаимовыгодные условия сотрудничества для наших клиентов. 
            Благодаря команде профессионалов мы зарекомендовали себя на рынке грузоперевозок как надежный и ответственный перевозчик.
        </p>

        <span>Мы предлагаем:</span>
        <ul>
            <li>
                Собственный крупный автопарк от 15 м³ до 92 м³. Возраст авто не более 5-ти лет
            </li>
            <li>
                Гибкие договорные отношения (отсрочка платежа)
            </li>
            <li>
                Своевременную и качественную доставку
            </li>
            <li>
                Лояльные договорные ставки за перевозку
            </li>
            <li>
                Ежедневную доставку (без выходных)
            </li>
            <li>
                Водителей, отлично знающих свое дело
            </li>
            <li>
                Хорошие бонусы от объемов перевозок
            </li>
        </ul>

        <p>Телефон: +375 44 333 33 33, +375 29 333 33 33 <br> Будем рады видеть Вас в числе наших постоянных партнеров!</p>
    </div>
</div>
{% endblock %}