a.text:active, /* активная/посещенная ссылка */
a.text:hover, /* при наведении */
a.text {
  text-decoration: none;
  color: black;
}

#card-blog:hover {
  background: rgb(91, 182, 79);
}

div.card {
  margin-bottom: 20px;
}
