<footer class="bg-dark mt-auto py-3">
    <div class="container pb-3">
        <div class="row justify-content-center align-items-start text-center">
            <div class="col-auto mx-3 text-white">
                <ul class="list-unstyled mb-2">
                    <span id="footer-header">Компания</span>
                    <li>
                        <a href="{% url 'about_us_page' %}" id="footer-link">О нас</a>
                    </li>
                    <li>
                        <a href="{% url 'transport_services_page' %}" id="footer-link">Транспортные услуги</a>
                    </li>
                    <li>
                        <a href="{% url 'mission_and_values_page' %}" id="footer-link">Миссия и ценности</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-auto mx-3 text-white">
                <ul class="list-unstyled mb-2">
                    <span id="footer-header">Покупателям</span>
                    <li>
                        <a href="{% url 'delivery_page' %}" id="footer-link">Доставка</a>
                    </li>
                    <li>
                        <a href="{% url 'payment_page' %}" id="footer-link">Оплата</a>
                    </li>
                    <li>
                        <a href="{% url 'contacts_page' %}" id="footer-link">Контакты</a>
                    </li>
                    <li>
                        <a href="{% url 'customer_reviews_page' %}" id="footer-link">Отзывы</a>
                    </li>
                </ul>
            </div>

            <div class="col-auto mx-3 text-white">
                <ul class="list-unstyled mb-2">
                    <span id="footer-header">Полезная информация</span>
                    <li>
                        <a href="{% url 'equipment_repair_page' %}" id="footer-link">Ремонт техники</a>
                    </li>
                    <li>
                        <a href="{% url 'replacement_and_return_products_page' %}" id="footer-link">Замена и возврат товара</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-auto">
            <div class="small text-white">Copyright &copy; ROMAN LEZHAIKO TMS Z77 2022-2023</div>
        </div>
    </div>
    
</footer>