{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="cols-1 row-cols-md-2 g-4">

{% for blog in blogs %}
    <div class="col">
        {% if user == blog.author %}
        <div class="card">
            {% if blog.status == blog.STATUS_ACTIVE %}
            <div class="card-header text-muted">
                Status: Active
            </div>
            {% else %}
            <div class="card-header text-muted">
                Status: Deleted
            </div>
            {% endif %}
        {% endif %}
        <div class="card">

            <div class="card-header">
                Author: {{ blog.author }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text small">{{ blog.description }}.</p>
                <a href="{% url 'show_blog' blog.id %}" class="btn btn-primary">Go to blog</a>
            </div>
        {% if user == blog.author and blog.status != blog.STATUS_DELETED  %}
        <div>
                <a href="{% url 'mark_blog_as_deleted' blog.id %}" class="card-link"> Delete blog</a>
        </div>
            {% elif user == blog.author and blog.status == blog.STATUS_DELETED %}
                <a href="{% url 'activate_blog' blog.id %}" class="card-link"> Activate blog</a>
            {% endif %}
        </div>

    </div>



{% endfor %}

</div>
</body>
</html>

{% endblock %}