{% extends 'base.html' %}

{% block content %}

    {% include "catalog.html" %}

    <div class="container mt-4 mb-3">
        <h3>Холодильник с морозильником LG DoorCooling GW-B509SBNM</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4">
                                    <img id="main-image" src="" width="80" height="240"> 
                                </div>
                                <div class="thumbnail text-center"> 
                                    <img onclick="change_image(this)" src="" width="40" height="130"> 
                                    <img onclick="change_image(this)" src="" width="40" height="130">
                                    <img onclick="change_image(this)" src="" width="40" height="130"> 
                                    <img onclick="change_image(this)" src="" width="40" height="130">
                                    <img onclick="change_image(this)" src="" width="40" height="130"> 
                                    <img onclick="change_image(this)" src="" width="40" height="130">
                                    <img onclick="change_image(this)" src="" width="40" height="130"> 
                                    <img onclick="change_image(this)" src="" width="40" height="130"> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Orianz</span>
                                    <h5 class="text-uppercase">Men's slim fit t-shirt</h5>
                                    <div class="price d-flex flex-row align-items-center"> <span class="act-price">$20</span>
                                        <div class="ml-2"> <small class="dis-price">$59</small> <span>40% OFF</span> </div>
                                    </div>
                                </div>
                                <p class="about">
                                    Shop from a wide range of t-shirt from orianz. Pefect for your everyday use, 
                                    you could pair it with a stylish pair of jeans or trousers complete the look.
                                </p>
                                <div class="cart mt-4 align-items-center">
                                    <button class="btn btn-warning text-uppercase mr-2 px-4">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function change_image(image){
            var container = document.getElementById("main-image");
            container.src = image.src;
        }
        document.addEventListener("DOMContentLoaded", function(event) {});
    </script>

{% endblock %}