{% extends 'base.html' %}

{% block content %}
<form class="row g-3" method="post">
    {% csrf_token %}
    <div class="col-12">
      <label for="username" class="visually-hidden">Username</label>
      <input 
            type="text" 
            class="form-control" 
            id="username"
            name="username"
            placeholder="Username"
        />
    </div>
    <div class="col-12">
      <label for="password" class="visually-hidden">Password</label>
      <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password"
            placeholder="Password"
        />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Log in</button>
    </div>
  </form>
{% endblock %}