{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="d-grid gap-2 d-md-flex justify-content-end">
        <a href="{% url 'blog_create' %}" 
            class="btn btn-primary">Create blog</a>
    </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-2 m-3">
        {% for blog in blogs %}
        <div class="row">
            <div class="col">
                <a class="text" href="{% url 'blog_content' id=blog.id %}">
                    <div class="card" id="card-blog">
                        
                        <!-- <div class="card-header text-center">
                            <h5>{{ blog.title }}</h5>
                        </div>
                        <div class="card-body">
                            <p>{{ blog.theme }}</p>
                        </div> -->

                        <div class="card-header text-center">
                            <div class="d-flex">
                                <div class="p-2 flex-grow-1">
                                    <h5>{{ blog.title }}</h5>
                                </div>
                                {% if request.user == blog.author %}
                                <div class="p-2">
                                    <form class="row" method="post" action="{% url 'blog_delete' blog.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-outline-danger">✕</button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ blog.theme }}</p>
                        </div>

                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}