{% extends 'base.html' %}
{% load i18n l10n %}

{% block content %}
<div class="container">
    <h3>{{ event.name }}</h3>
    {% if event.poster %}
    <img src="{{ event.poster.url }}" height="150" />
    {% endif %}
    <div class="event-details-container">
        <div><b>{% translate 'Time' %}:</b> {{ event.datetime }}</div>
        <div><b>{% translate 'Location' %}:</b> {{ event.location }}</div>
    </div>
    <div>
        {% if has_user_joint %}
        {% else %}
        <form method="post" action="{% url 'join_event' event.id %}">
            {% csrf_token %}
            <button type="submit">{% translate 'Join Event' %}</button>
        </form>
        {% endif %}
    </div>
    <div>
        <h4>{% translate 'Attendees' %}:</h4>

        {% for att in attendees %}
        <div>
            {{ att.username }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}