{% extends 'base.html' %}

{% block content %}
<div>
    <h2>Event list</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'create_event' %}" 
            class="btn btn-primary">Create event</a>
    </div>
    
    <br />
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for event in events %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="p-2 flex-grow-1">
                            <h5>{{ event.name }}</h5>
                        </div>
                        {% if request.user == event.organizer %}
                        <div class="p-2">
                            <form class="row" method="post" action="{% url 'event_delete' event.id %}">
                                {% csrf_token %}
                                <button 
                                    type="submit" 
                                    class="btn btn-sm btn-outline-danger"
                                >✕</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <p>Time: {{ event.datetime }}</p>
                    <div class="d-flex">
                        <div class="p-2 flex-grow-1">
                            <small class="text-muted">
                                Created by  <a href="#">{{ event.organizer }}</a>
                            </small>
                        </div>
                        <div class="p-2">
                            <a href="{% url 'event_details' event.id %}" 
                                class="btn btn-link btn-sm">Read details >>>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}