{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for blog in blogs %}
    <div class="col">
        
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="p-2 flex-grow-1">

                            <h5>
                                <a href="{% url 'blog_content' id=blog.id %}">
                                    {{ blog.title }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>{{ blog.theme }}</p>
                </div>
            </div>
    </div>
{% endfor %}
</div>
{% endblock %}