{% extends 'base.html' %}

{% block content %}
<h2>About company</h2>
<p>
    KUKA is a global automation corporation with sales of around 3.3 billion euro and roughly 14,000 employees. The company is headquartered in Augsburg, Germany. 
    As one of the world’s leading suppliers of intelligent automation solutions, KUKA offers customers everything they need from a single source: from robots and cells to fully automated systems and their networking in markets such as automotive, electronics, metal & plastic, consumer goods, e-commerce/retail and healthcare.
</p>
{% endblock %}