{% extends 'base.html' %}

{% block content %}
    <h2>Product list</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1">
                                <h5>{{ product.name }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}