{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated and user == author %}
    <div class="d-grid gap-2 d-md-flex justify-content-end">
        <a href="{% url 'post_create' blog_id %}" class="btn btn-primary">Create post</a>
    </div>
    {% endif %}

    {% for post in posts %}
    <div class="row">
        <div class="col-md-12 m-3">
            <div class="card">
                <div class="card-header text-center">
                    <h5>{{ post.title }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}