{% extends 'layout.html' %}

{% block content %}
<form action="" method="post" class="form-contact">
    <p><label>Имя: </label><input type="text" name="first_name" value="" required /></p>
    <p><label>Фамилия: </label><input type="text" name="last_name" value="" required /></p>
    <p><label>Телефон: </label><input type="text" name="phone" value="" required /></p>
    <p><label>Дата рождения: </label><input type="date" name="birthday" value="" required /></p>
    <p><input type="submit" value="Регистрация" /></p>
</form>
{% endblock %}